
$danger: #e7401d;

@import "../node_modules/bulma/bulma.sass";
@import "fonts";

.footerHome{
    padding-bottom: 1em;
}

.outLinkArtist{
    text-decoration: none;
    background-color: black;
    color: white;
    padding-right: 0.5em;
    padding-left: 0.5em;
    &:hover{
        color: yellow;
    }
}

.delamercaTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.delamercaSubtitle{
    
    font-family: 'Homemade Apple', cursive;
    word-spacing: 0.5em;
    padding-top: 1em;
    line-height: 2em;
    
        padding-top: 0.5em !important;
   
}

.homeSubtitle{        
    font-family: monospace;
    word-spacing: 0.5em;
    line-height: 2em;
    padding-top: 0 !important;
}
.tipodelamerca{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: $danger; 

}


.para {
    margin-top: 1em;
}

.langLink{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 1em;
    &:hover{
        color: palegoldenrod;
    }
}

.opinio{
    background-color: white;
    color: black;
    padding: 2em 1em 2em 1em;
    margin-bottom: 2em;
    box-shadow: 1px 4px 8px -1px rgba(0,0,0,0.44);
    h1{
        color: black;
        font-size: 2em;
        font-weight: bold;
    }
    h2{
        color: darkslategray;
    }
}

.containerMailchimp{
    margin-top: 1em;
    margin-bottom: 1em;
}

.logo{
    margin-bottom: 1em;
}

.cornersLink{
    text-decoration: none;    
    font-weight: bold;    
    color: white;
    cursor: pointer;
    &:hover{
        color: $danger;
    }
}