@import "../node_modules/bulma/bulma.sass";
@import "fonts";

.footerHome{
    padding-bottom: 1em;
}

.outLinkArtist{
    text-decoration: none;
    background-color: black;
    color: white;
    padding-right: 0.5em;
    padding-left: 0.5em;
    &:hover{
        color: yellow;
    }
}

.delamercaTitle{
    font-family: 'Alfa Slab One', cursive;
}


.delamercaSubtitle{
    font-family: 'Homemade Apple', cursive;
    word-spacing: 0.5em;
    padding-top: 1em;
}

.tipodelamerca{
    font-family: 'Alfa Slab One', cursive;

}


.para {
    margin-top: 1em;
}

.langLink{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 1em;
    &:hover{
        color: palegoldenrod;
    }
}